#h{
	
	background-color:#00001111;
	margin-bottom:0;
	border:none;
}
body{
font-family: 'Merriweather Sans', sans-serif;
	height:3000px;
	position:relative;
}
#loading{
	
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#fff;
	
}

#loading img{
position:absolute;
top:30%;
left:30%;
}
.control:hover{
	
	background-color:#c0392b;
	border-radius:20px;
}

.control{
	background-color:white;
	border-radius:4px;
	width:130px;
	height:30px;
	margin:10px;
	border:none;
	font-style:bold;
	font-size:15px;
	
}
.controlactive {
    background-color: #c0392b;
}
.divy{
	
	background-color:#34495e;
	height:400px;
	
}















